@import "tailwindcss";

#root {
  min-height: 100vh;
  background-color: #ffffff;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;

  display: flex;
  flex-direction: column;
}
