@import "tailwindcss";

#root {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  background-color: #ffffff;
  width: 375px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}